@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1"><b>Burger King</b></h1>
    <p>Welcome, this website is all about Burger King</p>
</div>

<!-- Carousel -->
<div id="deals" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#deals" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#deals" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#deals" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/deals_1.jpg" alt="Speical Deal 1" class="container-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/deals_2.jpg" alt="Special Deal 2" class="container-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/deals_3.jpg" alt="Special Deal 3" class="container-fluid">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#deals" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#deals" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4"><b>Facts</b></h1>
    <p class="lead">
        <ul>Did you know that a weird promotion where someone had to unfriend 10 people on facebook, would then recieve a free whooper. Burger King even sent a message to those unfriended that they couldn't beat the whooper!'</ul>
        <ul>Did you know that Biger King has a range of perfumes that smell like meat.</ul>
        <ul>Did you know that in Japan their burger buns are black in colour.</ul>
        <ul>Did you know that the original Burger King Whopper was only 29 cents</ul>
    </p>
</div>

<div class="row-cols-1">
    <h1 class="display-1 text-center row"><b>Burger King in the Community</b></h1>
    <div class="row text-center">
        <div class="col h2">Burger King helping fund community projects</div>
        <div class="col"><img src="/Images/community_1.jpg" alt="Soccor BK" style="height:75%; width:100%" /></div>
    </div>
</div>
<div>
    <div class="row text-center">
        <div class="col"><img src="/Images/community_2.jpg" alt="Eco Friendly" style="height:75%; width:100%" /></div>
        <div class="col h2">Helping keep Sustainability and Enviroment Friendly</div>
    </div>
</div>
<div>
    <div class="row text-center">
        <div class="col h2">Ready easy meals</div>
        <div class="col"><img src="/Images/community_3.jpg" alt="Meals" style="height:90%; width:100%" /></div>
    </div>
</div>
